<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/static/styles/images/logo.png">
    <link rel="stylesheet" href="../static/styles/css/bootstrap.min.css">
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"></script>

    <link rel="stylesheet" href="../static/styles/css/mojcss_boostrap.css">

    <style>
         #konteiner7
        {
            background-color: black;
        }
    </style>
    <title>O nama</title>
</head>
<body>
    <div class="row"> <!-- ovaj div je za responsive navbar koji se prikazuje kad smanjis ekran, kad kliknes na hamburger
        meni ispadne par polja kao npr O nama, Proizvodi... ako hoces da dodajes nesto u 42 liniji koda dodajes, videces i sam -->   
            <div class=" col-xs-12 col-12 container-fluid d-none d-block d-md-block d-sm-block d-xs-block d-lg-none" id="nav-posebna">
                <div class="container mx-auto">
                        <div class="row">
                            <div class="col-md-8 col-8 col-sm-8 col-xs-6 mx-auto" id="slika_posebna">
                                <img src="/static/styles/images/logo2.png" alt="logo">
                            </div>
                            <div class="col-md-1  col-1 col-sm-1 col-xs-1" id="dugmePretragaNavPosebna">
                                <a href="#"><i class="fas fa-search"></i></a>
                            </div>
                            <div class="col-md-1 col-1 col-sm-1 col-xs-1 mr-5 ">
                            
                                <button id="meniDugme" class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                                aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
                                    class="fas fa-bars fa-1x"></i></span></button>
    
                                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
    
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                    <a id="meniBoja" class="nav-link" href="#">O nama</a>
                                    </li>
                                    <li class="nav-item">
                                    <a id="meniBoja" class="nav-link" href="#">Proizvodi</a>
                                    </li>
                                    <li class="nav-item">
                                    <a id="meniBoja" class="nav-link" href="#">Kontakt</a>
                                    </li>
                                    <li class="nav-item">
                                    <a id="meniBoja" class="nav-link" href="#">Registracija</a>
                                    </li>
                                    <li class="nav-item">
                                    <a id="meniBoja" class="nav-link" href="#">Login</a>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                </div>       
            </div>
        </div>
    
    
        <div class="row"> <!-- 
            ovaj div je u principu navigacija sa ikonicama drustvenih mreza, pojavljuju se samo na ekranima vecim od 992px
         -->
            <div class="col-lg-12 p-0">
                <div class="container-fluid d-none d-lg-block" id="navGore" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="navGornja">
                                    <ul>
                                        <li><a href="#"><i class="fas fa-rss"></i></a></li>
                                        <li><a href="#"><strong>d</strong></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>   
        <div class="row"><!-- ovo ovde je glavni meni gde se nalazi logo i stavke kao sto su O nama, Proizvodi, Kontakt... u 110 liniji 
        koda ih dodajes vidis i sam vrv -->
            <div class="col-lg-12">
                <div class="container-fluid d-none d-lg-block" id="konteinerNav">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-2">
                                <div id="logo">
                                    <a href="/index"><img src="/static/styles/images/logo.png" alt=logo></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12" id="divNav">
                                        <div id="navGlavna">
                                            <ul>
                                                <li><a href="/oNama">O nama</a></li>
                                                <li><a href="/kontakt">Kontakt</a></li>
                                                <li><a href="/register">Registracija</a></li>
                                           
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row"> <!-- Ovo je jos jedan nav meni gde se prikazuju popularne stavke  -->
                                    <div class="col-lg-12 d-none d-xl-block">
                                        <div id="navpopularno">
                                            <ul>
                                                <li id="li_popularno"><h1>POPULARNO:</h1></li>
                                                <li><a href="/indexProcesori">Procesori</a></li>
                                                <li><a href="/indexGraficke">Graficke kartice</a></li>
                                                <li><a href="/indexMaticne">Maticne ploce</a></li>
                                                <li><a href="/indexRacunari">Gotovi racunari</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>   
        </div>


        <div class="container-fluid mt-4 pl-4">
            <div class="container">
                <div class="row col-lg-10">
                    <div class="row">
                        <h3>POVERENJE KAO TEMELJ POSLOVANJA</h3>
                    </div>
                    <div class="row">
                        <p>IT prodaja komponenata d.o.o. osnovan je 2001. godine, kao mala prodavnica bele tehnike, audio i video opreme, a pod imenom pod kojim je danas prepoznatljiv posluje od 2006. godine. Danas zauzima lidersku poziciju u oblasti trgovine belom tehnikom, audio i video uređajima, IT opremom, uređajima za grejanje i klimatizaciju, kao i malim kućnim aparatima.</p>
                    </div>       
                        <div class="row">
                            <p>
                        Na samom početku, poslovanje firme se odvijalo u Zaječaru, šireći se postepeno. Uzano širenje otpočelo je 2008. godine kada u razmaku od 6 meseci firma postaje bogatija za 6 maloprodajnih objekata, i to u Kladovu, Negotinu, Knjaževcu, Boljevcu, Majdanpeku i Boru. U narednom periodu akcenat poslovanja stavljen je na učvršćivanje pozicija u pomenutim gradovima i jačanje međusobnih veza i poverenja unutar kolektiva kao celine, stvarajući tako pobednički tim.</p>
                        </div> 
                        <div class="row">
                        <p>
                        Sledeće na redu je bilo strateško povezivanje timočkog regiona sa niškim 2012. godine otvaranjem prve od 4 maloprodaje u Nišu, a zatim i u Aleksincu 2013. godine. Strategija rasta, kao osnovna vizija firme, dovela je do širenja i na pomoravski region već 2014. godine gde danas firma posluje na 3 lokacije – u Jagodini, Ćupriji i Paraćinu. Još jedna važna prekretnica dolazi u 2016. godini, nova faza u ekspanziji firme - otvaranje maloprodaje u Lazarevcu, širenje na pirotski region (Pirot i Dimitrovgrad), i 2 premijum radnje u Nišu (u okviru DIS-a i Stop.Shop ritejl parka).</p>
                        </div>
                        <div class="row"> 
                        <p>    
                        Pomenute radnje u Nišu predstavljaju najveće izložbeno-prodajne salone tehnike na preko 700 kvadratnih metara, ujedno i najatraktivnije šoping lokacije u Nišu. Kao kruna uspeha i razvoja, Tehnomedia centra u istoj godini otvara još 4 maloprodajna objekata, i to u Kraljevu, Kragujevcu, Kruševcu i Zaječaru. U narednom periodu, 2017.godine, cilj je bio usavršavanje firme i novootvorenih lokacija, zaokruženo otvaranjem još jedne prodavnice u Pirotu.</p>
                        </div>
                    
                    <div class="row">
                        <p>
                        Period najvećeg rasta je usledio 2018.godine, sa otvaranjem čak 11 novih maloprodajnih objekata u 8 novih gradova: Vrnjačka banja, Smederevo, Bela Palanka, Svrljig, Beograd, Mladenovac i Požarevac. Od navedenih 11 novih lokacija, tri su otvorene u gradovima gde već postoje Tehnomedia prodavnice: Kragujevac, Kruševac i Jagodina. Nova radnja u Kragujevcu se nalazi u okviru šoping centra Kragujevac Plaza, dok je radnja u Jagodini otvorena u tržnom centru Biser. Zaključno sa 2018.godinom, Tehnomedia centar oji 35 objekata u 26 gradova i preko 200 zaposlenih.</p>
                    </div>
                    <div class="row">
                        <p>
                        U narednom periodu firma nastavlja sa pozitivnim rastom u svakom pogledu. Tekuća 2019.godina je započeta otvaranjem još tri prodavnica u Beogradu, pa sada Tehnomedia oji 38 maloprodajnih objekata. Najnoviji član Tehnomedia porodice jeste specijalizovani IT shop u Zaječaru, koji sa ponosom nosi oj 39. Objekat sa najvećim izborom uređaja jeste prodavnica unutar tržnog centra “Zmaj”, na Auto-putu 18. u Zemunu. Na preko 1.500 kvadratnih metara možete pogledati sve što vam je potrebno za opremanje doma – od malih kućnih aparata do premium endova i ekskluzivnih uređaja.
                        </p>
                    </div>
                    <div class="row">
                        <p>
                        Ono što firmu razlikuje od drugih su izuzetno ljubazni i edukovani prodavci, kao i velika posvećenost postprodajnim aktivnostima prema kupcu. Taj pristup i način rada odvajaju firmu u kvalitativnom smislu od konkurencije, što je ujedno i njena najveća komparativna prednost. I pored ovih aktivnosti i načina rada, nastojimo da ispunimo 3 najbitnije stavke:

                        - Širok asortiman i izbor robe prilagođen zahtevu potrošača,
                        - Najbolja cena i veliki izbor načina odloženog plaćanja,
                        - Specijalizovan i doo obučen prodavac.</p>
                    </div>
                    <div class="row">
                        <h3>Podaci o firmi</h3>
                    </div>
                    <div class="row">
                        <p>Skraćeno poslovno ime: IT prodaja komponenti doo Beograd
                        Puno poslovno ime:  IT prodaja komponenti doo, Makedonska 44, Beograd
                        Pravna forma: DOO - Društvo sa ograničenom odgovornošću
                        Obveznik PDV: da
                        Poreski identifikacioni oj: 104457054
                        Matični oj pravnog lica: 20168501
                        Registarski oj: 2780037616
                        oj obveznika PDV-a: 259455246
                        Registar privrednih subjekataBD. 123306/2006 od 14.06.2006.</p>
                    </div>
                    <div class="row">
                        <h3>Podaci o sedištu</h3>
                    </div>
                    <div class="row">
                    <p>Grad: Beograd 
                    Opština: Palilula
                    Ulica i oj: Makedonska 44
                    Država: Republika Srbija
                    e-mail adresa: office@itprodaja.com</p>
                    </div>
                    <div class="row">
                    <h3>Podaci o delatnosti</h3>
                    </div>
                    <div class="row">
                    <p>Šifra delatnosti: 4743   
                    Naziv delatnosti: Trgovina na malo racunarskim komponentama u specijalizovanim prodavnicama</p>
                    </div>

                    <div class="row mt-5 mb-4 col-lg-10 col-md-10  d-none d-md-block">
                        <h3>Gde nas mozete naci: </h3>
                        <div class="mapouter"><div class="gmap_canvas"><iframe width="690" height="347" id="gmap_canvas" src="https://maps.google.com/maps?q=Makedonska%206&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/purevpn-coupon/"></a></div><style>.mapouter{position:relative;text-align:right;height:347px;width:690px;}.gmap_canvas {overflow:hidden;background:none!important;height:347px;width:690px;}</style></div>

                    </div>

                </div>
            </div>
        </div>



        <div class="row"> <!-- ovo je pocetak futera, ovde cemo stavljati neke precice ka drugim stranicama, dodaj ako mislis da nesto fali -->
            <div class="col-lg-12 pr-0" id="konteiner6">
                <div class="container-fluid">
                    <div class="container">
                        <div class="row mt-4 mb-4 col-lg-12 col-md-10 mx-auto"> <!-- ispod ovog diva ces dodavati ako fali nesto, pazi samo vidis da je svaka stavka u jednom divu, nemoj da ga zaboravis  -->
                            <div class="col-lg-2 col-md-4 col-sm-3 navFuter">
                                <h2>IT komponente</h2>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4  navFuter">
                                <h2>Pomoc</h2>
    
                            </div>
                            <div class="col-lg-4 col-md-4  col-sm-5 navFuter">
                                <h2>Korisnička pravila</h2>
    
                            </div>
                            <div class="col-lg-4 col-md-12 d-none d-sm-block mx-auto" id="futerLinkovi">
                                <a href="#"><i class="fas fa-rss"></i></a>
                                <a href="#">d</a></li>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"> <!-- ovo je drugi deo futera, ako negde zapnes cimaj me na wa   -->
            <div class="col-lg-12" id="konteiner7">
                <div class="container-fluid">
                    <div class="container">
                        <div class="row mt-4 col-lg-12 col-md-10 mx-auto">
                            <div class="col-lg-2 col-md-2 " id="futer1">
                                <h1>O nama</h1>
                                <div class="d-none d-md-block">
                                    <p>O nama</p>
                                    <p>Kako da nas nadjete</p>
                                    <p>Kontakt</p>
                                    <p>Uslovi koriscenja</p>
                                    <p>Politika kolačića</p>
                                    
                                </div>    
                            </div>
                            <div class="col-lg-2 col-md-2" id="futer2">
                                <h1>Naše prodavnice</h1>
                                <div class="d-none d-md-block">
                                    <p>Makedonska 6, Beograd</p>
                                    <p>Bele Bartoka 23, Nis</p>
                                    <p>Ustanicka 42, Beograd</p>
                                    <p>Ivana Ljubicica 14, Novi Sad</p>
                                    <p>Srpskih vitezova 4, Krusevac</p>
                                    <p>Janka Pantelica 34b, Kraljevo</p>
                                
                                </div>   
                            </div>
                            <div class="col-lg-4 col-md-4" id="futer3">
                                <h1>Nase drustvene mreze</h1>
                                <div class="d-none d-md-block">
                                    <p>Facebook</p>
                                    <p>Youtube</p>
                                    <p>Instagram</p>
                                    <p>Twitter</p>
                                </div> 
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-3 col-3" id="futer4">
                                <img src="/static/img/logo2.png">
                                <div class="d-none d-md-block">
                                    <p>© 2020 Prodaja IT komponenti. Sva prava zadrzana</p>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>
</html>