<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for p in proizvodi %}
    {% if p["tipProizvoda"] == "MOBO" %}
        <p><img src="{{p['slika']}}"></p>
        <p><a href="maticnePloce/{{p['_id']}}">{{p['naziv']}}</a></p>
        <p>Cena: {{p['cena']}}</p>
        <p>Količina: {{p['kolicina']}}</p>
       
    {% endif %}
    {% endfor %}
</body>
</html>