<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>

    <style>
    
    .dugme
        {
            color: #FFFFFF;
            text-align: center;
            background: #120638;
            border-radius: 0px;
            padding: 9px 32px 6px;
            margin-top: 5px;
            font-family: "HelveticaNeueLTPro Md","Helvetica Neue LT Pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
            font-size: 16px;
            border: none;
        }
    </style>

</head>
<body>
    <div class="container-fluid">
        <div class="container" style="margin-left: 30%; margin-top: 100px; width: 40%; background-color: #e1502d; padding: 20px;">

            <div class="row">
                <div class="col-lg-12 offset-lg-2">
                    <form action = "/updateKR/{{x}}" method = "post" enctype="multipart/form-data">


                        {% for k in korisnici %}
                    
                        {% if x == k["_id"] %}
                        <h2 style="color: white;"> <input type="text" name="username"  value="{{k['username']}}" hidden></h2>
                        <h2 style="color: white;"> <strong>Password: </strong> <br> <input type="password" name="password" value="{{k['password']}}"></h2>
                        <h2 style="color: white;"> <strong>Godina rodjenja:</strong><br> <input type="text" name="datum" value="{{k['godinaRodjenja']}}"></h2>
                        <h2 style="color: white;"> <strong>Email:</strong><br> <input type="email" name="email" value="{{k['email']}}"></h2>
                        <h2 style="color: white;"> <strong>Tip korisnika:</strong><br> <input type="text" name="tip" value = "{{k['tipKorisnika']}}"></h2>
                        <h2 style="color: white;"> <strong>Balans:</strong> <br><input type="number" name="balans" value = "{{k['balans']}}"></h2>
                        <h2 style="color: white;"> <input type="submit" name="izmeni" class="dugme" value ="Izmeni korisnika"></h2>     
                        {% endif %}
                    
                    {% endfor %}       
                    </form>
                    <form action="/update/{{x}}" method="post" enctype="multipart/form-data">
                    
                        {% for p in proizvodi %}
                        {% if x == p["_id"] %}
                            <h2 style="color: white;"> <strong>Naziv: </strong> <br> <input type="text" name="naziv" value = "{{p['naziv']}}"></h2>
                            <h2 style="color: white;"> <strong>Cena:</strong><br> <input type="number" name="cena" value = "{{p['cena']}}"></h2>
                            <h2 style="color: white;"> <strong>Kolicina:</strong><br> <input type="number" name="kolicina" value = "{{p['kolicina']}}"></h2>
                            <h2 style="color: white;"> <strong><input type="submit" name="izmeni" class="dugme" value ="Izmeni proizvod"></h2>     
                            {% endif %}
                        {% endfor %}
                    
                    
                    
                    
                    </form>
                </div>
            </div>
        </div>   
    </div>   
</body>
</html>